.quotes {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 3rem;

  .container {
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
    padding: 2rem;
  }

  .btnWrapper {
    position: fixed;
    top: 2rem;
    right: 2rem;
  }

  .btnGreen {
    background-color: rgb(14, 140, 14);
    border: none;
    transition: .2s ease;

     &:hover {
       filter: brightness(.9);
     }
  }

  .logoutBtn {
    background-color: transparent;
    border: none;
    margin-left: 1.4rem;

    &:hover {
      background-color: #747494;
    }
  }

  .filtersWrapper {
    display: flex;
    justify-content: space-between;
  }

  .pageControlsWrapper {
    display: flex;
    align-items: flex-end;
    margin-top: 1rem;
    justify-content: space-between;
  }
}
