.quotes {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 3rem;

  .container {
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
    padding: 2rem;
  }

  .btnGreen {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background-color: rgb(14, 140, 14);
    border: none;

     &:hover {
       background-color: rgba(14, 140, 14, 0.6);
     }
  }

  .filtersWrapper {
    display: flex;
    justify-content: space-between;
  }

  .pageControlsWrapper {
    display: flex;
    align-items: flex-end;
    margin-top: 1rem;
    justify-content: space-between;
  }
}
